<div class="container my-3">
    <h1>Login</h1>
    <p>Please login below or <a href="register" class="link-dark">register here</a> if you do not have an account</p>

    <div class="container my-5">
        <div class="row mb-3">
            <label for="inputEmail" class="col-form-label col-md-3">Email address</label>
            <div class="col-md-6">
                <input type="email" class="form-control" id="inputEmail" placeholder="name@email.com">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword" class="col-form-label col-md-3">Password</label>
            <div class="col-md-6">
                <input type="password" class="form-control" id="inputPassword" placeholder="Enter a password">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4"></div>
            <button class="btn btn-primary col-md-3" type="submit">Login</button>
        </div>
    </div>
</div>
